
    
    .autocomplete{
        list-style-type: none;
        padding-left: 0px;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        border-top: 0px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        
        li{
            padding: 0.2rem;
            border-bottom: 1px solid #ced4da;
            cursor: pointer;
        }
        
        li:hover{
            background-color:#f8f9fa !important;
        }
    }